version: 2.1
jobs:
  sanity-check:
    resource_class: large
    working_directory: ~/project/examples
    docker:
      - image: circleci/golang
    steps:
      - checkout
      - run:
          name:
          command: |
            sudo apt-get install yamllint
      - run: yamllint -c .yamllint.yml $(git ls-files '*.yaml' '*.yml')
      - run:
          name: Install golangci-lint
          command: |
            export GOLANGCI_LINT_VER=1.17.1
            wget https://github.com/golangci/golangci-lint/releases/download/v${GOLANGCI_LINT_VER}/golangci-lint-${GOLANGCI_LINT_VER}-linux-amd64.tar.gz
            tar -xvf golangci-lint-${GOLANGCI_LINT_VER}-linux-amd64.tar.gz
            sudo mv golangci-lint-${GOLANGCI_LINT_VER}-linux-amd64/golangci-lint /usr/local/bin/
      - run:
          name: Lint examples
          command: |
            make lint-all
    environment:
      GO111MODULE: 'on'

  build:
    working_directory: ~/project/examples
    docker:
      - image: circleci/golang
    steps:
      - checkout
      - setup_remote_docker:
          docker_layer_caching: true
      - run:
          command: |
            make build-all

  push:
    parameters:
      example:
        type: string
      org:
        type: string
      tag:
        type: string
    working_directory: ~/project/examples
    docker:
      - image: circleci/golang
    steps:
      - checkout
      - setup_remote_docker:
          docker_layer_caching: true
      - run:
          name: Push << parameters.example >> containers with tag << parameters.tag >>
          command: |
            ORG=<< parameters.org >> TAG=<< parameters.tag >> make k8s-<< parameters.example >>-push

  push-all:
    parameters:
      org:
        type: string
      tag:
        type: string
    working_directory: ~/project/examples
    docker:
      - image: circleci/golang
    steps:
      - checkout
      - setup_remote_docker:
          docker_layer_caching: true
      - run:
          name: Push all containers with tag << parameters.tag >>
          command: |
            ORG=<< parameters.org >> TAG=<< parameters.tag >> make push-all

  test:
    parameters:
      example:
        type: string
      description:
        type: string
      nsmbranch:
        type: string
        default: "master"
      nightly:
        type: string
        default: "false"
    machine:
      enabled: true
      docker_layer_caching: true
    working_directory: ~/project/examples
    steps:
      - run:
          name: Update go to 1.12
          working_directory: /tmp
          command: |
            wget https://dl.google.com/go/go1.12.linux-amd64.tar.gz
            sudo rm -rf /usr/local/go
            sudo tar -C /usr/local -xzf go1.12.linux-amd64.tar.gz
      - run:
          name: Install kubectl
          command: |
            curl -LO https://storage.googleapis.com/kubernetes-release/release/$(curl -s https://storage.googleapis.com/kubernetes-release/release/stable.txt)/bin/linux/amd64/kubectl
            chmod +x kubectl
            sudo mv kubectl /usr/local/bin/
      - run:
          name: Install kind
          command: |
            GO111MODULE="on" go get -u sigs.k8s.io/kind@master
            kind version
      - checkout
      - run:
          name: Patch go.mod
          command: |
            if [ "<< parameters.nightly >>" == "true" ]; then
              sed -i.bak 's/\(networkservicemesh\/networkservicemesh\).*/\1 master/g' go.mod
            fi
      - run:
          name: Clone NSM
          command: |
            git clone --single-branch --branch << parameters.nsmbranch >> https://github.com/networkservicemesh/networkservicemesh.git ../networkservicemesh
      - run:
          name: Start kind
          command: |
            make kind-start
            echo 'export KUBECONFIG="$(kind get kubeconfig-path --name="nsm")"' >> $BASH_ENV
      - run:
          name: Wait for kind to settle
          command: |
            kubectl wait -n kube-system --timeout=150s --for condition=Ready --all pods
      - run:
          name: NSM infra deploy
          command: |
            make k8s-admission-webhook-save k8s-nsmgr-save k8s-vppagent-dataplane-save
            CLUSTER_RULES_PREFIX=kind make k8s-admission-webhook-deploy k8s-nsmgr-deploy k8s-vppagent-dataplane-deploy
            kubectl wait -n nsm-system --timeout=150s --for condition=Ready --all pods
      - run:
          name: Build << parameters.example >> images
          command: |
            make k8s-<< parameters.example >>-save
      - run:
          name: << parameters.description >> deploy
          command: |
            make k8s-<< parameters.example >>-load-images k8s-<< parameters.example >>-deploy
            kubectl wait -n default --timeout=150s --for condition=Ready --all pods
      - run:
          name: << parameters.description >> check
          command: |
            make k8s-<< parameters.example >>-check
      - run:
          name: << parameters.description >> delete
          command: |
            make k8s-<< parameters.example >>-delete
      - run:
          name: Dump cluster state
          when: always
          command: |
            kubectl get nodes --all-namespaces
            kubectl get pods -o wide --all-namespaces
            kubectl describe pods --all-namespaces
    environment:
      CLUSTER_RULES_PREFIX: "kind"

workflows:
  version: 2
  test-and-push:
    jobs:
      - sanity-check
      - test:
          name: "Test Envoy"
          example: "envoy_interceptor"
          description: "Envoy interceptor"
          requires:
            - sanity-check
      - test:
          name: "Test ICMP"
          example: "icmp"
          description: "Simple ICMP"
          requires:
            - sanity-check
      - test:
          name: "Test Proxy"
          example: "proxy"
          description: "Proxy"
          requires:
            - sanity-check
      - test:
          name: "Test VPP ICMP"
          example: "vpp-icmp"
          description: "VPP ICMP"
          requires:
            - sanity-check
      - test:
          name: "Test Secure Intranet"
          example: "secure-intranet"
          description: "Secure Intranet"
          requires:
            - sanity-check
      - test:
          name: "Test UCNF ICMP"
          example: "ucnf-icmp"
          description: "UCNF ICMP"
          requires:
            - sanity-check
      - test:
          name: "Test Packet Filtering"
          example: "packet-filtering"
          description: "Packet Filtering"
          requires:
            - sanity-check
      - push-all:
          name: "Push all"
          org: "networkservicemesh"
          tag: "master"
          filters:
            branches:
              only: master
          requires:
            - "Test Envoy"
            - "Test ICMP"
            - "Test Proxy"
            - "Test VPP ICMP"
            # - "Test Secure Intranet" temporarily disabled
            - "Test UCNF ICMP"
            - "Test Packet Filtering"
  nightly-test:
    triggers:
      - schedule:
          cron: "0 0 * * *"
          filters:
            branches:
              only:
                - master
    jobs:
      - test:
          name: "[N] Test Envoy"
          example: "envoy_interceptor"
          description: "Envoy interceptor"
          nightly: "true"
      - test:
          name: "[N] Test ICMP"
          example: "icmp"
          description: "Simple ICMP"
          nightly: "true"
      - test:
          name: "[N] Test Proxy"
          example: "proxy"
          description: "Proxy"
          nightly: "true"
      - test:
          name: "[N] Test VPP ICMP"
          example: "vpp-icmp"
          description: "VPP ICMP"
          nightly: "true"
      - test:
          name: "[N] Test Secure Intranet"
          example: "secure-intranet"
          description: "Secure Intranet"
          nightly: "true"
      - test:
          name: "[N] Test Packet Filtering"
          example: "packet-filtering"
          description: "Packet Filtering"
          nightly: "true"
      - test:
          name: "[N] Test UCNF ICMP"
          example: "ucnf-icmp"
          description: "UCNF ICMP"
          nightly: "true"
