---
apiVersion: apps/v1
kind: Deployment
spec:
  selector:
    matchLabels:
      networkservicemesh.io/app: "hss"
  replicas: 1
  template:
    metadata:
      labels:
        networkservicemesh.io/app: "hss"
    spec:
      containers:
        - name: hss
          image: alpine:latest
          command: ["tail", "-f", "/dev/null"]
metadata:
  name: "hss"
  namespace: default
  annotations:
    ns.networkservicemesh.io: 4g-network?app=s6a
